<section class="testimonials">
  <div class="container">
    <div class="testimonials__head" appReveal>
      <div>
        <p class="section-label">Client Testimonials</p>
        <h2 class="section-heading">What Our Clients Say</h2>
      </div>
      <a
        href="https://www.google.com/search?kgmid=/g/11bysjptc2&amp;hl=en-IN&amp;q=Ludhiana+-+Gurgaon+Transport+Services&amp;shem=epsd1,ltae,rimspwouoe&amp;shndl=30&amp;source=sh/x/loc/osrp/m1/2&amp;kgs=a47ab74b25f85212&amp;utm_source=epsd1,ltae,rimspwouoe,sh/x/loc/osrp/m1/2"
        target="_blank"
        rel="noopener"
        class="btn btn-outline"
      >
        View All Reviews
      </a>
    </div>

    <div class="testimonials__grid">
      <app-testimonial-card
        *ngFor="let t of testimonials(); let i = index; trackBy: trackByIndex"
        [data]="t"
        appReveal
        [revealDelay]="i * 70"
      ></app-testimonial-card>
    </div>
  </div>
</section>
